<template>
    <div class="wrapper">
        <div class="sidebar">
            <h2>All Access</h2>
            <ul>
                <li><a><router-link to="/">Home</router-link></a></li>
                <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
                <li><a><router-link to="/schedule">Schedule</router-link></a></li>
                <li><a href="#"><i class="fas fa-bell"></i>Notifications</a></li>
                <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
                <li><a><router-link to="/employees">Employees</router-link></a></li>
                <li><a href="#"><i class="fas fa-sign-out-alt"></i>Sign Out</a></li>

            </ul>
            <div class="social_media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="main_content">
            <div class="header">
                <div class="header_content">
                    <h2 class="text-dark employees">Admin Panel - Employees</h2>
                    <h2 class="page"></h2>
                    <a href="#"><i class="far fa-bell"></i></a>
                    <p>Hello, Joep Sales!</p>
                </div>
            </div>
            <div class="info">
                <RetrieveData/>
            </div>
        </div>
    </div>
</template>

<script>
    // @ is an alias to /src
    import RetrieveData from "../components/RetrieveData";
    export default {
        name: 'Employees',
        components: {
            RetrieveData
        }
    }
</script>


<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        font-family: 'Josefin Sans', sans-serif;
    }

    body {
        background: #f3f5f9;
    }

    .wrapper {
        display: flex;
        position: relative;
    }

    .wrapper .sidebar {
        position: fixed;
        width: 200px;
        height: 100%;
        background: #383F54;
        padding: 30px 0;
    }

    .wrapper .sidebar h2 {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
    }

    .wrapper .sidebar ul li {
        padding: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        border-top: 1px solid rgba(225, 225, 225, 0.05);
    }

    .wrapper .sidebar ul li a{
        color: #fff;
        display: block;
    }

    .wrapper .sidebar ul li a .fas{
        width: 25px;
    }

    .wrapper .sidebar ul li:hover{
        background: #464E66;
    }

    .wrapper .sidebar ul li:hover a{
        color: #fff;
    }

    .wrapper .sidebar .social_media{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }

    .wrapper .sidebar .social_media a{
        display: block;
        width: 40px;
        background: #2C3246;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin: 0 5px;
        color: #bdb8d7;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .wrapper .main_content{
        width: 100%;
        margin-left: 200px;
    }

    .wrapper .main_content .header{
        padding: 20px;
        background: white;
        color: #717171;
        border-bottom: 1px solid #e0e4e8;
        display: flex;
    }

    .wrapper .main_content .header .header_content{
        display: flex;
        width: 100%;
        overflow: hidden;
    }

    .wrapper .main_content .header .header_content h2{
        text-align: left;
    }

    .wrapper .main_content .header .header_content .page{
        font-weight: 100;
        padding-left: 10px;
    }


    .wrapper .main_content .header .header_content a{
        text-align: right;
        margin-left: auto;
        margin-right: 0%;
        color: #717171;
        display: block;
    }

    .wrapper .main_content .header .header_content p{
        display: block;
        margin: 0 30px;
    }
    .wrapper .main_content .info{
        margin: 20px;
        color: #717171;
        line-height: 25px;
    }

    .wrapper .main_content .info div{
        margin-bottom: 20px;
    }
</style>