<template>
  <Register></Register>
<!--  <div>-->
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">-->
<!--  <div class="wrapper">-->
<!--    <div class="sidebar">-->
<!--      <h2>All Access</h2>-->
<!--      <ul>-->
<!--        <li><a><router-link to="/"><i class="fas fa-home"></i>Home</router-link></a></li>-->
<!--        <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>-->
<!--        <li><a><router-link to="/schedule"><i class="fas fa-calendar"></i>Schedule</router-link></a></li>-->
<!--        <li><a href="#"><i class="fas fa-bell"></i>Notifications</a></li>-->
<!--        <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>-->
<!--        <li><a><router-link to="/employees"><i class="fas fa-users"></i>Employees</router-link></a></li>-->
<!--        <li><a href="#"><i class="fas fa-sign-out-alt"></i>Sign Out</a></li>-->

<!--      </ul>-->
<!--      <div class="social_media">-->
<!--        <a href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--        <a href="#"><i class="fab fa-twitter"></i></a>-->
<!--        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="main_content">-->
<!--      <div class="header">-->
<!--        <div class="header_content">-->
<!--          <h2>Admin Panel - Home</h2>-->
<!--          <h2 class="page"></h2>-->

<!--          <a href="#"> <i class="fas fa-sign-in-alt"> </i> </a>-->
<!--          <li><a href="#">Sign Out</a></li>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="info">-->
<!--        <div>-->
<!--          Welcome to the All Access admin panel. In this current version, this front-end page does not have-->
<!--          a connection with my database. It used to work with a dummy database, but now with my real database,-->
<!--          it still needs some work. Take a look at my API. The API has a Database Connection and it has CRUD-->
<!--          functionality.<br><br>To understand how this project is created, please install the VUE extension for Chrome.-->
<!--          When you fill this form in and submit, the user will be created and emitted to other vue files.-->
<!--          Once this has a connection with my API, the admin will be able to apply CRUD to employees.-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  </div>-->
</template>

<script>

import Register from "./Register";
export default {
  name: 'Home',
  components: {
    Register
  }
}
</script>

<style>
  /** {*/
  /*  margin: 0;*/
  /*  padding: 0;*/
  /*  box-sizing: border-box;*/
  /*  list-style: none;*/
  /*  text-decoration: none;*/
  /*  font-family: 'Josefin Sans', sans-serif;*/
  /*}*/

  /*body {*/
  /*  background: #f3f5f9;*/
  /*}*/

  /*.wrapper {*/
  /*  display: flex;*/
  /*  position: relative;*/
  /*}*/

  /*.wrapper .sidebar {*/
  /*  position: fixed;*/
  /*  width: 200px;*/
  /*  height: 100%;*/
  /*  background: #383F54;*/
  /*  padding: 30px 0;*/
  /*}*/

  /*.wrapper .sidebar h2 {*/
  /*  color: #fff;*/
  /*  text-transform: uppercase;*/
  /*  text-align: center;*/
  /*  margin-bottom: 30px;*/
  /*}*/

  /*.wrapper .sidebar ul li {*/
  /*  padding: 15px;*/
  /*  border-bottom: 1px solid rgba(0, 0, 0, 0.05);*/
  /*  border-top: 1px solid rgba(225, 225, 225, 0.05);*/
  /*}*/

  /*.wrapper .sidebar ul li a{*/
  /*  color: #fff;*/
  /*  display: block;*/
  /*  text-decoration: none;*/
  /*}*/

  /*.wrapper .sidebar ul li a .fas{*/
  /*  width: 25px;*/
  /*}*/

  /*.wrapper .sidebar ul li:hover{*/
  /*  background: #464E66;*/
  /*}*/

  /*.wrapper .sidebar ul li:hover a{*/
  /*  color: #fff;*/
  /*  text-decoration: none;*/
  /*}*/

  /*.wrapper .sidebar .social_media{*/
  /*  position: absolute;*/
  /*  bottom: 0;*/
  /*  left: 50%;*/
  /*  transform: translateX(-50%);*/
  /*  display: flex;*/
  /*}*/

  /*.wrapper .sidebar .social_media a{*/
  /*  display: block;*/
  /*  width: 40px;*/
  /*  background: #2C3246;*/
  /*  height: 40px;*/
  /*  line-height: 40px;*/
  /*  text-align: center;*/
  /*  margin: 0 5px;*/
  /*  color: #bdb8d7;*/
  /*  border-top-right-radius: 5px;*/
  /*  border-top-left-radius: 5px;*/
  /*}*/

  /*.wrapper .main_content{*/
  /*  width: 100%;*/
  /*  margin-left: 200px;*/
  /*}*/

  /*.wrapper .main_content .header{*/
  /*  padding: 20px;*/
  /*  background: white;*/
  /*  color: #717171;*/
  /*  border-bottom: 1px solid #e0e4e8;*/
  /*  display: flex;*/
  /*}*/

  /*.wrapper .main_content .header .header_content{*/
  /*  display: flex;*/
  /*  width: 100%;*/
  /*  overflow: hidden;*/
  /*}*/

  /*.wrapper .main_content .header .header_content h2{*/
  /*  text-align: left;*/
  /*}*/

  /*.wrapper .main_content .header .header_content .page{*/
  /*  font-weight: 100;*/
  /*  padding-left: 10px;*/
  /*}*/


  /*.wrapper .main_content .header .header_content a{*/
  /*  text-align: right;*/
  /*  margin-left: auto;*/
  /*  margin-right: 0%;*/
  /*  color: #717171;*/
  /*  display: block;*/
  /*}*/

  /*.wrapper .main_content .header .header_content p{*/
  /*  display: block;*/
  /*  margin: 0 30px;*/
  /*}*/
  /*.wrapper .main_content .info{*/
  /*  margin: 20px;*/
  /*  color: #717171;*/
  /*  line-height: 25px;*/
  /*}*/

  /*.wrapper .main_content .info div{*/
  /*  margin-bottom: 20px;*/
  /*}*/
</style>