<template>
    <body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <div class="body">
        <div class="row">
        <div class="login-box">
            <h1>All Access<br>Sign Up</h1>
            <form v-on:submit.prevent="addUser">
            <div class="textbox">
                <i class="fas fa-user"></i>
                <input type="text" id="username" v-model="form.username" placeholder="Email" required>
            </div>

            <div class="textbox">
                <i class="fas fa-lock"></i>
                <input type="password" id="password" v-model="form.password" placeholder="Password" required>
            </div>

                <button type="submit" class="btn">Sign Up</button>
            </form>
            <a style="cursor: pointer;text-decoration: underline;color: cornflowerblue"><router-link to="/login"><p>Already have an account? click here.</p></router-link></a>
        </div>
        </div>
    </div>
    </body>
</template>

<script>
    import Swal from 'sweetalert2'
    import axios from 'axios'
    export default {
        name: "Register",
        data(){
            return {
                users: [],
                form: {
                    username: '',
                    password: ''
                }
            }
        },
        methods: {
            addUser(){
                axios.post('https://allaccess-api.herokuapp.com/register/', this.form,{
                    headers: {
                        Authorization: null
                    }
                })
                .then(function (response) {
                    console.log(response);
                    Swal.fire(
                        'Success!',
                        'Your account has been created!',
                        'success'
                    )
                })
                .catch(function (error) {
                    console.log(error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Sign up failed.'
                    })
                })

            }
        }
    }
</script>

<style scoped>

    @import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
    body{
        background-color: black;
        color: black;
    }

    .body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-color: black;
    }
    .login-box{
        width: 280px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: black;
    }
    .login-box h1{
        float: left;
        font-size: 40px;
        border-bottom: 6px solid #4caf50;
        margin-bottom: 50px;
        padding: 13px 0;
        text-align: left;
    }
    .textbox{
        width: 100%;
        overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
        margin: 8px 0;
        border-bottom: 1px solid #4caf50;
        border: 1px solid #4caf50;
        border-radius: 8px;
    }
    .textbox i{
        width: 26px;
        float: left;
        text-align: center;
    }
    .textbox input{
        border: none;
        outline: none;
        background: none;
        color: gray;
        font-size: 18px;
        width: 80%;
        float: left;
        margin: 0 10px;
    }
    .btn{
        width: 100%;
        background: none;
        border: 2px solid #4caf50;
        border-radius: 8px;
        color: black;
        padding: 5px;
        font-size: 18px;
        cursor: pointer;
        margin: 12px 0;
    }

</style>