<template>
    <div>
    <h1 class="h1 text-dark">Assign To Employee To Work:</h1>
    <div class="row">
        <div class="col-md-12">
            <form v-on:submit="assignEmployee">
                <div class="form-group">
                    <label for="month">Select Month:</label><br>
                    <select class="form-control" v-model="form.month" id="month">
                        <option disabled value="">Please Select A Month.</option>
                        <option v-for="month of months" :key="month.id">{{month.month}}</option>
                    </select>
                    <!--                    <input type="text" id="month" v-model="form.month" class="form-control" required>-->
                </div>
                <div class="form-group">
                    <label for="year">Select Year:</label><br>
                    <select class="form-control" v-model="form.year" id="year" number>
                        <option disabled value="">Please Select A Year.</option>
                        <option>2020</option>
                        <option>2021</option>
                    </select>
                    <!--                    <input type="number" id="year" v-model="form.year" class="form-control" required>-->
                </div>
                <div class="form-group">
                    <label for="day">Select Number Of Day:</label><br>
                    <input type="number" id="day" v-model="form.day" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="employeeId">Select Employee ID:</label><br>
                    <select class="form-control" v-model="form.employeeId" id="employeeId" number>
                        <option disabled value="">Please Select An Employee.</option>
                        <option v-for="user of users" :key="user.id">{{user.id}}</option>
                    </select>
                    <!--                    <input type="text" id="employee" v-model="form.employee" class="form-control" required>-->
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Assign Employee</button>
                </div>
            </form>

            <!--            OLD FORM:-->

            <!--            <h2 class="h1 text-dark">Assign Employee:</h2><br>-->
            <!--            <div class="row">-->
            <!--                <div class="col-md-5"></div>-->
            <!--                <form v-on:submit.prevent="assignEmployee">-->
            <!--                    <div class="form-group">-->
            <!--                        <label for="month"> Month:</label>-->
            <!--                        <input type="text" id="month" v-model="form.month" class="form-control" required>-->
            <!--                    </div>-->

            <!--                    <div class="form-group">-->
            <!--                        <label for="year"> Year:</label>-->
            <!--                        <input type="number" id="year" v-model="form.year" class="form-control" required>-->
            <!--                    </div>-->

            <!--                    <div class="form-group">-->
            <!--                        <label for="day"> Day:</label>-->
            <!--                        <input type="number" id="day" v-model="form.day" class="form-control" required>-->
            <!--                    </div>-->

            <!--                    <div class="form-group">-->
            <!--                        <label for="employeeId"> Employee ID:</label>-->
            <!--                        <input type="text" id="employeeId" v-model="form.employeeId" class="form-control" required>-->
            <!--                    </div>-->

            <!--                    <div class="form-group">-->
            <!--                        <button type="submit" class="btn btn-primary">Create</button>-->
            <!--                    </div>-->
            <!--                </form>-->
            <!--            </div>-->
        </div>
    </div>
<!--    <div class="calendar">-->
<!--        <div class="dates">-->
<!--            <div class="time">-->
<!--                <span>Month:</span>-->
<!--                <h2>November</h2>-->
<!--            </div>-->
<!--            <div class="week">-->
<!--                <ul>-->
<!--                    <li>Sun</li>-->
<!--                    <li>Mon</li>-->
<!--                    <li>Tue</li>-->
<!--                    <li>Wed</li>-->
<!--                    <li>Thu</li>-->
<!--                    <li>Fri</li>-->
<!--                    <li>Sat</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="days">-->
<!--                <ul>-->
<!--                    <li>1</li>-->
<!--                    <li>2</li>-->
<!--                    <li>3</li>-->
<!--                    <li>4</li>-->
<!--                    <li>5</li>-->
<!--                    <li>6</li>-->
<!--                    <li>7</li>-->
<!--                    <li>8</li>-->
<!--                    <li>9</li>-->
<!--                    <li>10</li>-->
<!--                    <li>11</li>-->
<!--                    <li>12</li>-->
<!--                    <li>13</li>-->
<!--                    <li>14</li>-->
<!--                    <li>15</li>-->
<!--                    <li class="active">16</li>-->
<!--                    <li>17</li>-->
<!--                    <li>18</li>-->
<!--                    <li>19</li>-->
<!--                    <li>20</li>-->
<!--                    <li>21</li>-->
<!--                    <li>22</li>-->
<!--                    <li>23</li>-->
<!--                    <li>24</li>-->
<!--                    <li>25</li>-->
<!--                    <li>26</li>-->
<!--                    <li>27</li>-->
<!--                    <li>28</li>-->
<!--                    <li>29</li>-->
<!--                    <li>30</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="current-data">-->
<!--                18 November 2020-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="events">-->
<!--            <div class="profile">-->
<!--                &lt;!&ndash;                <img src="Assets/WhatsApp Image 2020-08-25 at 14.47.27.jpeg" alt="">&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="title">-->
<!--                Todays Events <br>-->
<!--            </div>-->
<!--            &lt;!&ndash; <ul>-->
<!--                <li>Afternoon meeting at 5:00</li>-->
<!--                <li>John's Birthday at 08:00</li>-->
<!--                <li>Meet Martin at 10:00</li>-->
<!--            </ul> &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->

    <br>
<!--    <button class="btn btn-primary" @click="toggle =!toggle">Create Calendar</button><br>-->
    <div v-show="toggle">
        <br>
        <!--        <h1 class="h1 text-dark">Create Calendar:</h1>-->
        <!--        <div class="row">-->
        <!--            <div class="col-md-12">-->
        <!--                <form v-on:submit="addCalendar">-->
        <!--                    <div class="form-group">-->
        <!--                        <label for="month">Month Name:</label><br>-->
        <!--                        <input type="text" id="month" v-model="form.month" class="form-control" required>-->
        <!--                    </div>-->
        <!--                    <div class="form-group">-->
        <!--                        <label for="year">Year:</label><br>-->
        <!--                        <input type="number" id="year" v-model="form.year" class="form-control" required>-->
        <!--                    </div>-->
        <!--                    <div class="form-group">-->
        <!--                        <label for="days">Number Of Days:</label><br>-->
        <!--                        <input type="number" id="days" v-model="form.days" class="form-control" required>-->
        <!--                    </div>-->
        <!--                    <div class="form-group">-->
        <!--                        <button type="submit" class="btn btn-primary">Create</button>-->
        <!--                    </div>-->
        <!--                </form>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
    </div>
</template>

<script>
    import axios from "axios";
    import Swal from 'sweetalert2';
    export default {
        name: "Calendar",
        data(){
            return {
                toggle: false,
                form: {
                    month : '',
                    year: '',
                    day : '',
                    employeeId: ''
                },
                selected: '',
                users: [],
                months: [],
                years: [],
            }
        },
        components: {
        },
        async created() {
            axios.get('https://allaccess-api.herokuapp.com/login')
            this.getCalendarData();
            axios.get('https://allaccess-api.herokuapp.com/users')
                .then(response => this.users = response.data)
                .catch(error => this.users = console.log(error))
                .finally(() => console.log('Data loading complete'));

        },

        methods: {
            addCalendar(){
                axios.post('https://allaccess-api.herokuapp.com/calendars/', this.form)
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                window.location.reload();
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Month Created!',
                    showConfirmButton: false,
                    timer: 1500
                })
            },

            showHide(){
                const x = document.getElementById('showHide');
                if (x.style.display === 'none'){
                    x.style.display = 'block';
                } else{
                    x.style.display = 'none';
                }
            },

            getCalendarData(){
                axios.get('https://allaccess-api.herokuapp.com/calendars/')
                    .then(response => this.months = response.data)
                    .catch(error => this.months = console.log(error))
                    .finally(() => console.log('Data loading complete'));
            },

            assignEmployee(){
                axios.post('https://allaccess-api.herokuapp.com/schedules/', this.form)
                    .then(function (response) {
                        console.log(response);
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Employee Assigned!',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    })
                    .catch(function (error) {
                        console.log(error);
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                        })
                    })
                // window.location.reload();

            }
        }
    }
</script>

<style scoped>

    .calendar{
        color: #424242;
        width: 860px;
        height: 550px;
        border-radius: 0 10px 10px 0;
        margin: 0px auto;
        margin-top: 0px;
    }

    .calendar .dates{
        width: 500px;
        height: 550px;
        background: #F7F7F7;
        float: left;
        border-radius: 10px 0 0 10px;
    }

    .calendar .dates .time{
        width: 378px;
        display: block;
        margin: 0px auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }


    span{
        float: left;
        font-size: 14px;
        margin-right: 10px
    }

    h2{
        float: left;
        margin: 0%;
        padding: 0px;
        font-size: 16px;
        font-weight: 600;
    }

    .calendar .dates .week{
        margin: 0px auto;
        font-size: 12px;
        display: block;
        width: 378px;
        height: 40px;
        clear: both;
    }

    ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    li{
        float: left;
        width: 50px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin: 2px;
    }

    .calendar .dates .days{
        margin: 0px auto;
    }

    .calendar .dates .days ul{
        margin: 0px auto;
        list-style: none;
        padding: 0px;
        width: 378px;
    }

    .calendar .dates .days ul li{
        float: left;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        margin: 2px;
    }

    .calendar .dates .days ul li:hover, .days ul li:active{
        background: #7baaf7;
        color: #fff;
        border-radius: 50%;
        opacity: 0.5;
        cursor: pointer;
    }

    .calendar .dates .current-data{
        width: 378px;
        display: block;
        margin: 0px auto;
        clear: both;
        font-size: 35px;
        font-weight: 300;
        padding-top: 50px;
        color: #5C6488;
        text-align: center;
    }

    .calendar .events{
        background: #6c337c;
        background: linear-gradient(45deg, #B5B5B5 0%, #5C6488 100%);
        float: left;
        color: #fff;
        height: 550px;
        width: 360px;
        border-radius: 0 15px 15px 0;
    }

    .calendar .events .profile{
        height: 100px;
        width: 100px;
        margin: 0px auto;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .events .profile img{
        border-radius: 15px;
        width: 100%;
        height: auto;
    }

    .events .title{
        width: 100%;
        text-align: center;
        font-size: 13px;
        margin-bottom: 60px;
    }

    .events ul{
        list-style: none;
        width: 250px;
        margin: 0px auto;
        padding: 0;
    }

    .events ul li{
        border-bottom: white;
        padding: 5px 15px;
    }

    .events ul li:hover{
        opacity: 0.5;
    }
</style>