<template>
    <div class="Agenda">
        <h1>Agenda</h1>
        <div class="fullcalendar">
            <FullCalendar :options="calendarOptions"/>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import FullCalendar from '@fullcalendar/vue'
    import dayGridPlugin from '@fullcalendar/daygrid'
    import timeGridPlugin from '@fullcalendar/timegrid'
    import interactionPlugin from '@fullcalendar/interaction'
    import listPlugin from '@fullcalendar/list'
    export default {
        name: "myFullCalendar",
        components: {
            FullCalendar
        },
        async created(){
            axios.get('https://allaccess-api.herokuapp.com/events/')
            .then(response => this.events = response.data)
            .catch(error => this.events = console.log(error))
            .finally(() => console.log('Data loading complete'));
        },
        data(){
            return{
                events: []
            }
        },
        computed: {
            calendarOptions(){
                return {
                    editable: true,
                    selectable: true,
                    selectMirror: true,
                    dayMaxEvents: true,
                    events: this.events,
                    weekends: this.weekends,
                    plugins: [dayGridPlugin, timeGridPlugin, interactionPlugin, listPlugin],
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                    },
                    initialView: 'dayGridMonth',
                    // dateClick: this.handleDateClick,
                    select: this.handleDbPost,
                    firstDay:1,
                    height: 850
                }
            }
        },
        methods: {
            handleDateClick: function (arg) {
                alert('Date click! ' + arg.dateStr);
            },
            handleDateSelect: function (selectInfo) {
                let title = prompt('Please enter a new title for your event')
                let calendarApi = selectInfo.view.calendar

                calendarApi.unselect()

                if (title){
                    calendarApi.addEvent({
                        id: selectInfo.id,
                        title,
                        start: selectInfo.startStr,
                        end: selectInfo.endStr,
                        allDay: selectInfo.allDay
                    })
                }
            },

            handleDbPost: function (selectInfo) {
                let title = prompt('Please enter a name for this event:')
                let calendarApi = selectInfo.view.calendar
                calendarApi.unselect()
                if (title){
                    calendarApi.addEvent({
                        title,
                        start: selectInfo.start,
                        end: selectInfo.end,
                        allDay: selectInfo.allDay
                    })
                    //Add To Database:
                    axios.post('https://allaccess-api.herokuapp.com/events/',
                        {
                            title,
                            start: selectInfo.start,
                            end: selectInfo.end,
                            allDay: selectInfo.allDay })
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>