<template>
    <div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <h1 class="text-dark">List of all employees:</h1><br>
    <!--    <ul>-->
    <!--        <li v-for="user of users" :key="user.id">{{user.firstName}} {{user.lastName}}</li>-->
    <!--    </ul>-->
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tr  v-for="user of users" :key="user.id">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td style="-webkit-text-security: disc" id="mypass">{{user.password}}</td>
            <td><button v-on:click="deleteUser(user.id)" class="btn btn-danger" id="deleteButton">Remove</button></td>
        </tr>
    </table><br>

    <div class="background">
        <h2 class="h1 text-dark">Create an employee:</h2><br>
        <div class="row">
            <div class="col-md-5"></div>
            <form v-on:submit.prevent="addUser">
                <div class="form-group">
                    <label for="username"> Username:</label>
                    <input type="text" id="username" v-model="form.username" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="password"> Password:</label>
                    <input type="text" id="password" v-model="form.password" class="form-control" required>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="createUser">Create</button>
                </div>
            </form>
        </div>
    </div>

    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    import 'vue-toast-notification/dist/theme-sugar.css';
    import axios from 'axios';
    export default {
        name: "RetrieveData",
        data(){
            return {
                users: [],
                form: {
                    username: '',
                    password: '',
                }
            };
        },
        //GET
        async created(){
            axios.get('https://allaccess-api.herokuapp.com/login');

            axios.get('https://allaccess-api.herokuapp.com/users/')
                .then(response => this.users = response.data)
                .catch(error => this.users = console.log(error))
                .finally(() => console.log('Data loading complete'));

            this.$forceUpdate();

            // try {
            //     const res = await axios.get('http://localhost:3030/users/');
            //     this.users = res.data;
            // } catch (e) {
            //     console.error(e);
            // }
            // finally {
            //     console.log("data loading complete.")
            // }
        },
        components: {
        },
        methods: {
            // deleteUser(id){
            //     axios.delete("http://localhost:3030/users/" + id).then(response =>{this.result.splice(id, 1);console.log(response)});
            // },

            ForceUpdate(){
                this.$forceUpdate();
            },

            updateUser(id){
                axios.put('https://allaccess-api.herokuapp.com/users/' + id)
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },

            deleteUser(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        axios.delete('https://allaccess-api.herokuapp.com/users/' + id, {
                            headers: {
                                'Access-Control-Allow-Origin': '*'
                            }
                        })
                            .then(function (response) {
                                console.log(response);
                            })
                            .catch(function (error) {
                                console.log(error);
                            })

                        Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        ).then((result) => {
                            if (result.isConfirmed){
                                window.location.reload();
                            }
                        })
                    }
                })
                //alert("Are you sure you want to delete this user?");

            },

            //CREATE
            // addUser(){
            //     axios.post('http://localhost:3030/users/', {
            //         firstName: this.firstName,
            //         lastName: this.lastName,
            //         password: this.password,
            //         email: this.email,
            //         name: 'test'
            //     })
            //         .then(function (response) {
            //             console.log(response);
            //         })
            //         .catch(function (error) {
            //             console.log(error);
            //         })
            // },
            addUser(){
                axios.post('https://allaccess-api.herokuapp.com/users/', this.form)
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                window.location.reload();
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Creating Employee...',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        }
    }
</script>

<style scoped>
    h1{
        text-align: center;
    }

    li{
        text-align: center;
        list-style-position: inside;
    }

    .myform{
        text-align: center;
    }
    table, th, td{
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
    }
</style>